In [1]:
import numpy as np 
import pandas as pd

In [40]:
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)
#设置value的显示长度为100，默认为50
pd.set_option('max_colwidth',100)

In [41]:
data = pd.read_csv('./fttt.csv',encoding='gbk')

In [42]:
data.head()

,id,happiness,survey_type,province,city,county,gender,birth,nationality,religion,religion_freq,edu,edu_status,edu_yr,income,political,floor_area,property_0,property_1,property_2,property_3,property_4,property_5,property_6,property_7,property_8,height_cm,weight_jin,health,health_problem,depression,hukou,hukou_loc,media_1,media_2,media_3,media_4,media_5,media_6,leisure_1,leisure_2,leisure_3,leisure_4,leisure_5,leisure_6,leisure_7,leisure_8,leisure_9,leisure_10,leisure_11,leisure_12,socialize,relax,learn,social_neighbor,social_friend,socia_outing,equity,class,class_10_before,class_10_after,class_14,work_exper,insur_1,insur_2,insur_3,insur_4,family_income,family_m,family_status,house,car,invest_0,invest_1,invest_2,invest_3,invest_4,invest_5,invest_7,invest_8,son,daughter,minor_child,marital,marital_1st,s_birth,marital_now,s_edu,s_political,s_hukou,s_income,s_work_exper,f_birth,f_edu,f_political,f_work_14,m_birth,m_edu,m_political,m_work_14,status_peer,status_3_before,view,inc_ability,inc_exp,trust_1,trust_2,trust_3,trust_4,trust_5,trust_6,trust_7,trust_8,trust_9,trust_10,trust_11,trust_12,trust_13,neighbor_familiarity,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9
0,1,4.0,1,12,32,59,1,1959,1.0,1.0,1.0,11.0,4.0,2013.0,20000.0,1.0,45.0,0,1,0,0,0,0,0,0,0,176,155,3.0,2.0,5.0,5,2.0,4.0,2.0,5.0,5.0,4.0,3.0,1.0,4.0,3.0,1.0,2.0,3.0,4.0,1.0,4.0,5.0,4.0,1.0,2.0,4.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,3.0,1.0,1,1.0,1.0,1.0,2.0,60000.0,2.0,2.0,1.0,2.0,0,1,0,0,0,0,0,0,1.0,0.0,0.0,3,1984.0,1958.0,1984.0,6.0,1.0,5.0,40000.0,5.0,1945.0,4.0,4.0,1.0,1940.0,4.0,1.0,1.0,3.0,2.0,4.0,3.0,50000.0,4.0,2.0,4.0,4.0,5.0,3.0,2.0,3.0,4.0,3.0,3.0,4.0,1.0,4.0,50.0,60.0,50.0,50.0,30.0,30.0,50.0,50.0,50.0
1,2,4.0,2,18,52,85,1,1992,1.0,1.0,1.0,12.0,4.0,2013.0,20000.0,1.0,110.0,0,0,0,0,1,0,0,0,0,170,110,5.0,4.0,3.0,1,1.0,2.0,2.0,1.0,3.0,5.0,1.0,2.0,3.0,4.0,3.0,5.0,4.0,3.0,2.0,3.0,4.0,5.0,1.0,2.0,4.0,3.0,6.0,2.0,1.0,3.0,6.0,4.0,8.0,5.0,1,1.0,1.0,1.0,1.0,40000.0,3.0,4.0,1.0,2.0,0,1,0,0,0,0,0,0,0.0,0.0,0.0,1,1990.0,1963.0,1990.0,4.0,1.0,1.0,0.0,1.0,1972.0,3.0,1.0,2.0,1973.0,3.0,1.0,2.0,1.0,1.0,4.0,2.0,50000.0,5.0,4.0,4.0,3.0,5.0,3.0,3.0,3.0,2.0,3.0,3.0,3.0,2.0,3.0,90.0,70.0,70.0,80.0,85.0,70.0,90.0,60.0,60.0
2,3,4.0,2,29,83,126,2,1967,1.0,0.0,3.0,4.0,4.0,2013.0,2000.0,1.0,120.0,0,1,1,0,0,0,0,0,0,160,122,4.0,4.0,5.0,1,1.0,2.0,2.0,2.0,5.0,1.0,3.0,1.0,4.0,4.0,3.0,5.0,4.0,4.0,2.0,3.0,5.0,5.0,5.0,3.0,4.0,2.0,2.0,5.0,2.0,4.0,5.0,4.0,6.0,3.0,2,1.0,1.0,2.0,2.0,8000.0,3.0,3.0,1.0,2.0,0,1,0,0,0,0,0,0,0.0,2.0,1.0,3,1990.0,1968.0,1990.0,3.0,1.0,1.0,6000.0,3.0,1945.0,1.0,1.0,2.0,1940.0,1.0,1.0,2.0,2.0,1.0,4.0,2.0,80000.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,4.0,90.0,80.0,75.0,79.0,80.0,90.0,90.0,90.0,75.0
3,4,5.0,2,10,28,51,2,1943,1.0,1.0,1.0,3.0,4.0,1959.0,6420.0,1.0,78.0,0,0,0,1,0,0,0,0,0,163,170,4.0,4.0,4.0,1,2.0,2.0,1.0,1.0,5.0,1.0,1.0,1.0,5.0,2.0,4.0,5.0,4.0,5.0,1.0,1.0,5.0,5.0,5.0,2.0,4.0,4.0,1.0,6.0,1.0,4.0,5.0,5.0,7.0,2.0,4,2.0,2.0,2.0,2.0,12000.0,3.0,3.0,1.0,1.0,0,1,0,0,0,0,0,0,1.0,4.0,0.0,7,1960.0,1963.0,1990.0,4.0,1.0,1.0,0.0,1.0,1945.0,14.0,1.0,2.0,1940.0,1.0,1.0,2.0,2.0,1.0,3.0,2.0,10000.0,3.0,3.0,4.0,3.0,5.0,3.0,3.0,5.0,4.0,3.0,3.0,3.0,2.0,3.0,100.0,90.0,70.0,80.0,80.0,90.0,90.0,80.0,80.0
4,5,4.0,1,7,18,36,2,1994,1.0,1.0,1.0,12.0,1.0,2014.0,0.0,2.0,70.0,0,0,0,0,1,0,0,0,0,165,110,5.0,5.0,3.0,2,3.0,1.0,3.0,4.0,2.0,5.0,5.0,3.0,3.0,3.0,2.0,4.0,4.0,3.0,5.0,2.0,5.0,5.0,1.0,4.0,3.0,4.0,7.0,5.0,3.0,2.0,1.0,1.0,1.0,4.0,6,1.0,2.0,2.0,2.0,30000.0,4.0,3.0,1.0,1.0,0,1,0,0,0,0,0,0,0.0,0.0,0.0,1,1990.0,1963.0,1990.0,4.0,1.0,1.0,0.0,1.0,1970.0,6.0,1.0,10.0,1972.0,4.0,1.0,15.0,3.0,2.0,3.0,2.0,200000.0,4.0,3.0,3.0,3.0,5.0,5.0,3.0,4.0,3.0,3.0,3.0,3.0,2.0,2.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0

In [43]:
y = data['happiness']
data2 = data.drop(['id','happiness'],axis=1)
x = data2

In [51]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [52]:
clf = RandomForestRegressor()
scores = cross_val_score(clf, x.values, y.values, cv=5, scoring='neg_mean_squared_error')

In [53]:
scores

array([-0.49416494, -0.49323856, -0.48817856, -0.47081387, -0.4923035 ])

In [56]:
clf.fit(x.values,y.values)

RandomForestRegressor()

In [58]:
test = pd.read_csv('./happiness_test_complete.csv',encoding='gbk')

In [59]:
test.head()

,id,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,edu_other,edu_status,edu_yr,income,political,join_party,floor_area,property_0,property_1,property_2,property_3,property_4,property_5,property_6,property_7,property_8,property_other,height_cm,weight_jin,health,health_problem,depression,hukou,hukou_loc,media_1,media_2,media_3,media_4,media_5,media_6,leisure_1,leisure_2,leisure_3,leisure_4,leisure_5,leisure_6,leisure_7,leisure_8,leisure_9,leisure_10,leisure_11,leisure_12,socialize,relax,learn,social_neighbor,social_friend,socia_outing,equity,class,class_10_before,class_10_after,class_14,work_exper,work_status,work_yr,work_type,work_manage,insur_1,insur_2,insur_3,insur_4,family_income,family_m,family_status,house,car,invest_0,invest_1,invest_2,invest_3,invest_4,invest_5,invest_6,invest_7,invest_8,invest_other,son,daughter,minor_child,marital,marital_1st,s_birth,marital_now,s_edu,s_political,s_hukou,s_income,s_work_exper,s_work_status,s_work_type,f_birth,f_edu,f_political,f_work_14,m_birth,m_edu,m_political,m_work_14,status_peer,status_3_before,view,inc_ability,inc_exp,trust_1,trust_2,trust_3,trust_4,trust_5,trust_6,trust_7,trust_8,trust_9,trust_10,trust_11,trust_12,trust_13,neighbor_familiarity,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9
0,8001,1,2,2,9,2015/7/24 10:30,2,1972,8,0,1,4,NaN,2.0,1989.0,18000,1,NaN,100.0,0,1,1,0,0,0,0,0,0,NaN,155,120,4,4,4,4,1,2,2,1,4,3,2,1,4,2,4,4,3,3,3,3,5,1,3,3,3,2,1.0,3.0,1,2,5,5,5,4,1,5.0,12.0,2.0,3.0,1,1,2,2,-2,5,3,1,2,0,1,0,0,0,0,0,0,0,NaN,1,0,1.0,3,1998.0,1972.0,1998.0,4.0,1.0,1.0,18000.0,1.0,5.0,2.0,1935,3,1,13,1936,3,1,13,3,1,4,2,30000.0,4,4,4,4,4,4,3,4,3,3,-8,3,2,4,80,80.0,60,80,80,80,80,80,80
1,8002,1,22,66,106,2015/7/12 15:38,2,1938,1,1,1,4,NaN,4.0,-2.0,20000,1,NaN,50.0,0,1,0,1,0,0,0,0,0,NaN,150,75,1,1,2,5,1,1,1,3,5,1,1,1,5,5,5,5,2,1,4,5,5,5,5,5,4,1,1.0,1.0,1,3,3,5,-8,4,5,NaN,NaN,NaN,NaN,1,1,2,2,20000,1,1,2,2,0,1,0,0,0,0,0,0,0,NaN,3,0,0.0,7,1959.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2,1,1,2,-2,1,1,2,3,3,4,2,50000.0,3,3,3,3,4,2,2,4,4,4,4,4,4,5,90,80.0,80,80,80,80,70,80,80
2,8003,2,9,22,44,2015/7/5 9:36,2,1935,1,1,1,1,NaN,NaN,NaN,500,1,NaN,60.0,0,0,0,1,0,0,0,0,0,NaN,155,85,4,2,2,1,1,1,1,1,1,1,1,5,5,4,5,5,4,5,5,5,5,5,5,2,3,1,2.0,6.0,1,4,1,1,1,2,4,NaN,NaN,NaN,NaN,1,1,2,2,-2,1,2,1,2,0,1,0,0,0,0,0,0,0,NaN,2,3,0.0,7,1954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2,1,1,2,1914,1,1,2,3,1,3,4,2000.0,5,5,4,4,4,3,3,3,4,4,4,2,2,5,95,95.0,80,90,80,95,95,80,90
3,8004,2,18,52,86,2015/7/19 10:10,2,1992,1,1,1,4,NaN,2.0,-1.0,50000,1,NaN,220.0,0,0,1,0,0,0,0,0,0,NaN,160,126,5,5,5,1,1,2,2,1,5,4,1,1,5,4,4,5,3,4,4,3,3,3,3,2,2,2,1.0,1.0,1,4,5,4,6,5,5,NaN,NaN,NaN,NaN,2,2,2,2,100000,2,4,1,2,0,1,0,0,0,0,0,0,0,NaN,1,0,1.0,3,2014.0,1991.0,2014.0,4.0,1.0,1.0,50000.0,1.0,3.0,1.0,1967,4,1,2,1966,1,1,2,2,1,3,2,80000.0,4,4,3,3,4,3,3,3,3,3,3,3,3,4,80,80.0,70,90,80,80,70,60,50
4,8005,2,24,70,110,2015/8/3 11:41,1,1990,1,1,2,1,NaN,NaN,NaN,0,1,NaN,200.0,1,0,0,0,0,0,0,0,0,NaN,173,130,4,5,3,4,1,1,1,1,4,4,1,2,3,4,4,5,4,2,5,3,5,5,1,4,4,2,1.0,4.0,6,2,2,4,6,1,2,NaN,NaN,NaN,NaN,1,1,2,2,30000,3,2,1,2,0,1,0,0,0,0,0,0,0,NaN,0,0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1964,3,1,2,-2,-8,-8,-8,2,2,5,2,-2.0,4,3,4,4,5,4,3,-8,4,3,4,5,1,-8,60,50.0,0,30,40,50,60,-2,60

In [60]:
x = test.drop(['id','invest_6','work_manage',
 'work_status',
 'work_type',
 'work_yr',
 's_work_type',
 's_work_status',
 'join_party',
 'property_other',
 'invest_other',
 'edu_other',
 'survey_time'],axis=1)

In [63]:
# 缺数据的字段
missing = x.isnull().sum()
missing = missing[missing > 0]
missing.index

Index(['edu_status', 'edu_yr', 'social_neighbor', 'social_friend',
       'minor_child', 'marital_1st', 's_birth', 'marital_now', 's_edu',
       's_political', 's_hukou', 's_income', 's_work_exper'],
      dtype='object')

In [64]:
# 特征nunique分布
cat_fea = missing.index
for fea in cat_fea:
    print("{}特征有个{}不同的值".format(fea,x[fea].nunique()))
    #print(data2[fea].value_counts())

edu_status特征有个5不同的值
edu_yr特征有个79不同的值
social_neighbor特征有个8不同的值
social_friend特征有个8不同的值
minor_child特征有个7不同的值
marital_1st特征有个77不同的值
s_birth特征有个74不同的值
marital_now特征有个75不同的值
s_edu特征有个15不同的值
s_political特征有个5不同的值
s_hukou特征有个7不同的值
s_income特征有个152不同的值
s_work_exper特征有个6不同的值

In [67]:
# 用众数填充
for i in cat_fea:
    x[i].fillna(x[i].mode()[0], inplace=True)

In [68]:
pre = clf.predict(x.values)

In [72]:

np.savetxt("./ft.txt", pre,fmt='%f',delimiter=',')