In [1]:
# 查看数据文件目录  list datalab files
train_file = './used_car_train_20200313.csv'
test_file = './used_car_testB_20200421.csv'

In [2]:
import torch
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#df_submit = pd.read_csv(submit)
df = pd.read_csv(train_file,sep=' ' )

# 数据分析

In [4]:
df.describe()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,...,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
count,150000.000000,150000.000000,1.500000e+05,149999.000000,150000.000000,145494.000000,141320.000000,144019.000000,150000.000000,150000.000000,...,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000
mean,74999.500000,68349.172873,2.003417e+07,47.129021,8.052733,1.792369,0.375842,0.224943,119.316547,12.597160,...,0.248204,0.044923,0.124692,0.058144,0.061996,-0.001000,0.009035,0.004813,0.000313,-0.000688
std,43301.414527,61103.875095,5.364988e+04,49.536040,7.864956,1.760640,0.548677,0.417546,177.168419,3.919576,...,0.045804,0.051743,0.201410,0.029186,0.035692,3.772386,3.286071,2.517478,1.288988,1.038685
min,0.000000,0.000000,1.991000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-9.168192,-5.558207,-9.639552,-4.153899,-6.546556
25%,37499.750000,11156.000000,1.999091e+07,10.000000,1.000000,0.000000,0.000000,0.000000,75.000000,12.500000,...,0.243615,0.000038,0.062474,0.035334,0.033930,-3.722303,-1.951543,-1.871846,-1.057789,-0.437034
50%,74999.500000,51638.000000,2.003091e+07,30.000000,6.000000,1.000000,0.000000,0.000000,110.000000,15.000000,...,0.257798,0.000812,0.095866,0.057014,0.058484,1.624076,-0.358053,-0.130753,-0.036245,0.141246
75%,112499.250000,118841.250000,2.007111e+07,66.000000,13.000000,3.000000,1.000000,0.000000,150.000000,15.000000,...,0.265297,0.102009,0.125243,0.079382,0.087491,2.844357,1.255022,1.776933,0.942813,0.680378
max,149999.000000,196812.000000,2.015121e+07,247.000000,39.000000,7.000000,6.000000,1.000000,19312.000000,15.000000,...,0.291838,0.151420,1.404936,0.160791,0.222787,12.357011,18.819042,13.847792,11.147669,8.658418

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             150000 non-null  int64
 1   name               150000 non-null  int64
 2   regDate            150000 non-null  int64
 3   model              149999 non-null  float64
 4   brand              150000 non-null  int64
 5   bodyType           145494 non-null  float64
 6   fuelType           141320 non-null  float64
 7   gearbox            144019 non-null  float64
 8   power              150000 non-null  int64
 9   kilometer          150000 non-null  float64
 10  notRepairedDamage  150000 non-null  object
 11  regionCode         150000 non-null  int64
 12  seller             150000 non-null  int64
 13  offerType          150000 non-null  int64
 14  creatDate          150000 non-null  int64
 15  price              150000 non-null  int64
 16  v_0                150000 non-null  float64
 17  v_1                150000 non-null  float64
 18  v_2                150000 non-null  float64
 19  v_3                150000 non-null  float64
 20  v_4                150000 non-null  float64
 21  v_5                150000 non-null  float64
 22  v_6                150000 non-null  float64
 23  v_7                150000 non-null  float64
 24  v_8                150000 non-null  float64
 25  v_9                150000 non-null  float64
 26  v_10               150000 non-null  float64
 27  v_11               150000 non-null  float64
 28  v_12               150000 non-null  float64
 29  v_13               150000 non-null  float64
 30  v_14               150000 non-null  float64
dtypes: float64(20), int64(10), object(1)
memory usage: 35.5+ MB

In [6]:
df.notRepairedDamage.describe(include='object')

count     150000
unique         3
top          0.0
freq      111361
Name: notRepairedDamage, dtype: object

In [7]:
df.notRepairedDamage.unique()

array(['0.0', '-', '1.0'], dtype=object)

In [8]:
df.notRepairedDamage.replace('-', np.NaN,inplace=True) 
df.notRepairedDamage.unique()

array(['0.0', nan, '1.0'], dtype=object)

In [9]:
df.notRepairedDamage = df.notRepairedDamage.astype(float)
df.notRepairedDamage.unique()

array([ 0., nan,  1.])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             150000 non-null  int64
 1   name               150000 non-null  int64
 2   regDate            150000 non-null  int64
 3   model              149999 non-null  float64
 4   brand              150000 non-null  int64
 5   bodyType           145494 non-null  float64
 6   fuelType           141320 non-null  float64
 7   gearbox            144019 non-null  float64
 8   power              150000 non-null  int64
 9   kilometer          150000 non-null  float64
 10  notRepairedDamage  125676 non-null  float64
 11  regionCode         150000 non-null  int64
 12  seller             150000 non-null  int64
 13  offerType          150000 non-null  int64
 14  creatDate          150000 non-null  int64
 15  price              150000 non-null  int64
 16  v_0                150000 non-null  float64
 17  v_1                150000 non-null  float64
 18  v_2                150000 non-null  float64
 19  v_3                150000 non-null  float64
 20  v_4                150000 non-null  float64
 21  v_5                150000 non-null  float64
 22  v_6                150000 non-null  float64
 23  v_7                150000 non-null  float64
 24  v_8                150000 non-null  float64
 25  v_9                150000 non-null  float64
 26  v_10               150000 non-null  float64
 27  v_11               150000 non-null  float64
 28  v_12               150000 non-null  float64
 29  v_13               150000 non-null  float64
 30  v_14               150000 non-null  float64
dtypes: float64(21), int64(10)
memory usage: 35.5 MB

上面发现有一个特征是object类型，汽车有尚未修复的损坏  
这个字段很容易改成数字类型就行了

In [11]:
df.notRepairedDamage.value_counts()

0.0    111361
1.0     14315
Name: notRepairedDamage, dtype: int64

缺失值处理，先把所有缺失行都进行删除

In [12]:
df2 = df.dropna(axis=0)

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118326 entries, 0 to 149999
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SaleID             118326 non-null  int64
 1   name               118326 non-null  int64
 2   regDate            118326 non-null  int64
 3   model              118326 non-null  float64
 4   brand              118326 non-null  int64
 5   bodyType           118326 non-null  float64
 6   fuelType           118326 non-null  float64
 7   gearbox            118326 non-null  float64
 8   power              118326 non-null  int64
 9   kilometer          118326 non-null  float64
 10  notRepairedDamage  118326 non-null  float64
 11  regionCode         118326 non-null  int64
 12  seller             118326 non-null  int64
 13  offerType          118326 non-null  int64
 14  creatDate          118326 non-null  int64
 15  price              118326 non-null  int64
 16  v_0                118326 non-null  float64
 17  v_1                118326 non-null  float64
 18  v_2                118326 non-null  float64
 19  v_3                118326 non-null  float64
 20  v_4                118326 non-null  float64
 21  v_5                118326 non-null  float64
 22  v_6                118326 non-null  float64
 23  v_7                118326 non-null  float64
 24  v_8                118326 non-null  float64
 25  v_9                118326 non-null  float64
 26  v_10               118326 non-null  float64
 27  v_11               118326 non-null  float64
 28  v_12               118326 non-null  float64
 29  v_13               118326 non-null  float64
 30  v_14               118326 non-null  float64
dtypes: float64(21), int64(10)
memory usage: 28.9 MB

# 直接上神经网络

In [14]:
y = df2.price
x = df2.iloc[:,df2.columns != "price"]

In [15]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
min_max_scaler.fit(x)
x = min_max_scaler.transform(x)

In [16]:
import torch
import torch.nn as nn
from torch.utils.data import Dataset
from torch.utils.data import DataLoader

# Hyper-parameters
input_size = x.shape[1]
hidden1_size = 300
hidden2_size = 100
hidden3_size = 50
num_classes = 1
num_epochs = 50
batch_size = 1000
learning_rate = 0.001

In [17]:
class DiabetesDataset(Dataset):
    def __init__(self, a,b):
        self.len = a.shape[0]
        self.x_data = torch.from_numpy(a)
        # 这部很关键， 特征类型要求float类型
        self.x_data = self.x_data.float()
        # 标签需要一维的，并且必须是整形，所以不需要one-hot编码
        self.y_data = torch.from_numpy(b.values)
        self.y_data = self.y_data.float()

    def __getitem__(self, item):
        return self.x_data[item], self.y_data[item]

    def __len__(self):
        return self.len


dataset = DiabetesDataset(x,y)
train_loader = DataLoader(dataset=dataset, batch_size=batch_size, shuffle=True)

In [18]:
class NeuralNet(nn.Module):
    def __init__(self, input_size_, hidden1_size_, hidden2_size_, hidden3_size_, num_classes_):
        super().__init__()
        self.fc1 = nn.Linear(input_size_, hidden1_size_)
        self.relu = nn.ReLU()
        self.fc2 = nn.Linear(hidden1_size_, hidden2_size_)
        self.fc3 = nn.Linear(hidden2_size_, hidden3_size_)
        self.fc4 = nn.Linear(hidden3_size_, num_classes_)
    def forward(self, x):
        out = self.fc1(x)
        out = self.relu(out)
        out = self.fc2(out)
        out = self.relu(out)
        out = self.fc3(out)
        out = self.relu(out)
        out = self.fc4(out)
        return out

In [19]:
# Logistic regression model
model = NeuralNet(input_size, hidden1_size, hidden2_size, hidden2_size, num_classes)

# Loss and optimizer
# nn.CrossEntropyLoss() computes softmax internally
criterion = nn.L1Loss()
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

# Train the model
total_step = len(train_loader)
for epoch in range(num_epochs):
    for i, (images, labels) in enumerate(train_loader):
        # Reshape images to (batch_size, input_size)
        images = images.reshape(-1, input_size)
        # Forward pass
        
        outputs = model(images)
        loss = criterion(outputs.squeeze(1), labels)

        # Backward and optimize
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        if i % 50 == 0:
            print('Epoch [{}/{}], Step [{}/{}], Loss: {:.4f}'
                  .format(epoch + 1, num_epochs, i + 1, total_step, loss.item()))

Epoch [1/50], Step [1/119], Loss: 6603.1675
Epoch [1/50], Step [51/119], Loss: 6431.6226
Epoch [1/50], Step [101/119], Loss: 4820.9429
Epoch [2/50], Step [1/119], Loss: 4418.2837
Epoch [2/50], Step [51/119], Loss: 4543.1089
Epoch [2/50], Step [101/119], Loss: 4088.7249
Epoch [3/50], Step [1/119], Loss: 3937.4136
Epoch [3/50], Step [51/119], Loss: 2567.8728
Epoch [3/50], Step [101/119], Loss: 1953.0823
Epoch [4/50], Step [1/119], Loss: 1854.9615
Epoch [4/50], Step [51/119], Loss: 1610.1473
Epoch [4/50], Step [101/119], Loss: 1375.2108
Epoch [5/50], Step [1/119], Loss: 1314.7456
Epoch [5/50], Step [51/119], Loss: 1290.2574
Epoch [5/50], Step [101/119], Loss: 1345.1211
Epoch [6/50], Step [1/119], Loss: 1123.0205
Epoch [6/50], Step [51/119], Loss: 1255.4387
Epoch [6/50], Step [101/119], Loss: 1219.3850
Epoch [7/50], Step [1/119], Loss: 1209.6556
Epoch [7/50], Step [51/119], Loss: 1088.3679
Epoch [7/50], Step [101/119], Loss: 1133.3220
Epoch [8/50], Step [1/119], Loss: 1209.7212
Epoch [8/50], Step [51/119], Loss: 999.0340
Epoch [8/50], Step [101/119], Loss: 954.6904
Epoch [9/50], Step [1/119], Loss: 1005.4771
Epoch [9/50], Step [51/119], Loss: 1096.9077
Epoch [9/50], Step [101/119], Loss: 1014.2809
Epoch [10/50], Step [1/119], Loss: 952.8607
Epoch [10/50], Step [51/119], Loss: 1003.0401
Epoch [10/50], Step [101/119], Loss: 967.1743
Epoch [11/50], Step [1/119], Loss: 941.1332
Epoch [11/50], Step [51/119], Loss: 919.2209
Epoch [11/50], Step [101/119], Loss: 918.9268
Epoch [12/50], Step [1/119], Loss: 943.5439
Epoch [12/50], Step [51/119], Loss: 868.0203
Epoch [12/50], Step [101/119], Loss: 893.0327
Epoch [13/50], Step [1/119], Loss: 1006.6193
Epoch [13/50], Step [51/119], Loss: 906.6787
Epoch [13/50], Step [101/119], Loss: 829.6622
Epoch [14/50], Step [1/119], Loss: 943.5167
Epoch [14/50], Step [51/119], Loss: 962.5283
Epoch [14/50], Step [101/119], Loss: 990.8505
Epoch [15/50], Step [1/119], Loss: 900.3746
Epoch [15/50], Step [51/119], Loss: 946.2780
Epoch [15/50], Step [101/119], Loss: 849.7144
Epoch [16/50], Step [1/119], Loss: 967.5109
Epoch [16/50], Step [51/119], Loss: 866.7513
Epoch [16/50], Step [101/119], Loss: 744.9568
Epoch [17/50], Step [1/119], Loss: 813.9564
Epoch [17/50], Step [51/119], Loss: 879.8676
Epoch [17/50], Step [101/119], Loss: 867.4799
Epoch [18/50], Step [1/119], Loss: 867.4584
Epoch [18/50], Step [51/119], Loss: 857.4376
Epoch [18/50], Step [101/119], Loss: 919.3564
Epoch [19/50], Step [1/119], Loss: 760.7255
Epoch [19/50], Step [51/119], Loss: 797.3055
Epoch [19/50], Step [101/119], Loss: 866.4736
Epoch [20/50], Step [1/119], Loss: 813.7318
Epoch [20/50], Step [51/119], Loss: 848.2393
Epoch [20/50], Step [101/119], Loss: 850.6273
Epoch [21/50], Step [1/119], Loss: 792.7279
Epoch [21/50], Step [51/119], Loss: 771.4491
Epoch [21/50], Step [101/119], Loss: 836.6971
Epoch [22/50], Step [1/119], Loss: 790.1602
Epoch [22/50], Step [51/119], Loss: 831.2606
Epoch [22/50], Step [101/119], Loss: 906.3530
Epoch [23/50], Step [1/119], Loss: 764.6082
Epoch [23/50], Step [51/119], Loss: 868.5596
Epoch [23/50], Step [101/119], Loss: 831.7175
Epoch [24/50], Step [1/119], Loss: 755.3846
Epoch [24/50], Step [51/119], Loss: 760.5209
Epoch [24/50], Step [101/119], Loss: 743.8225
Epoch [25/50], Step [1/119], Loss: 763.2273
Epoch [25/50], Step [51/119], Loss: 800.2676
Epoch [25/50], Step [101/119], Loss: 664.0306
Epoch [26/50], Step [1/119], Loss: 729.0447
Epoch [26/50], Step [51/119], Loss: 787.2049
Epoch [26/50], Step [101/119], Loss: 673.9509
Epoch [27/50], Step [1/119], Loss: 844.3328
Epoch [27/50], Step [51/119], Loss: 818.7560
Epoch [27/50], Step [101/119], Loss: 842.4438
Epoch [28/50], Step [1/119], Loss: 710.8415
Epoch [28/50], Step [51/119], Loss: 778.8323
Epoch [28/50], Step [101/119], Loss: 791.7686
Epoch [29/50], Step [1/119], Loss: 844.9811
Epoch [29/50], Step [51/119], Loss: 747.8668
Epoch [29/50], Step [101/119], Loss: 682.1599
Epoch [30/50], Step [1/119], Loss: 675.6057
Epoch [30/50], Step [51/119], Loss: 814.7061
Epoch [30/50], Step [101/119], Loss: 717.1913
Epoch [31/50], Step [1/119], Loss: 718.5452
Epoch [31/50], Step [51/119], Loss: 785.6509
Epoch [31/50], Step [101/119], Loss: 743.6089
Epoch [32/50], Step [1/119], Loss: 697.1101
Epoch [32/50], Step [51/119], Loss: 739.9249
Epoch [32/50], Step [101/119], Loss: 638.2614
Epoch [33/50], Step [1/119], Loss: 773.6510
Epoch [33/50], Step [51/119], Loss: 776.9088
Epoch [33/50], Step [101/119], Loss: 768.4708
Epoch [34/50], Step [1/119], Loss: 722.5352
Epoch [34/50], Step [51/119], Loss: 674.5958
Epoch [34/50], Step [101/119], Loss: 630.5214
Epoch [35/50], Step [1/119], Loss: 730.0115
Epoch [35/50], Step [51/119], Loss: 700.5594
Epoch [35/50], Step [101/119], Loss: 685.7342
Epoch [36/50], Step [1/119], Loss: 624.4697
Epoch [36/50], Step [51/119], Loss: 837.6951
Epoch [36/50], Step [101/119], Loss: 646.9417
Epoch [37/50], Step [1/119], Loss: 679.4445
Epoch [37/50], Step [51/119], Loss: 716.9826
Epoch [37/50], Step [101/119], Loss: 687.5354
Epoch [38/50], Step [1/119], Loss: 763.8710
Epoch [38/50], Step [51/119], Loss: 709.6359
Epoch [38/50], Step [101/119], Loss: 765.1758
Epoch [39/50], Step [1/119], Loss: 687.1945
Epoch [39/50], Step [51/119], Loss: 659.6854
Epoch [39/50], Step [101/119], Loss: 734.6995
Epoch [40/50], Step [1/119], Loss: 648.0222
Epoch [40/50], Step [51/119], Loss: 666.3669
Epoch [40/50], Step [101/119], Loss: 671.0885
Epoch [41/50], Step [1/119], Loss: 603.3915
Epoch [41/50], Step [51/119], Loss: 652.7562
Epoch [41/50], Step [101/119], Loss: 668.5405
Epoch [42/50], Step [1/119], Loss: 664.2257
Epoch [42/50], Step [51/119], Loss: 641.2111
Epoch [42/50], Step [101/119], Loss: 657.1051
Epoch [43/50], Step [1/119], Loss: 747.8281
Epoch [43/50], Step [51/119], Loss: 652.4094
Epoch [43/50], Step [101/119], Loss: 673.3071
Epoch [44/50], Step [1/119], Loss: 657.6046
Epoch [44/50], Step [51/119], Loss: 612.4234
Epoch [44/50], Step [101/119], Loss: 630.4929
Epoch [45/50], Step [1/119], Loss: 704.2333
Epoch [45/50], Step [51/119], Loss: 579.9050
Epoch [45/50], Step [101/119], Loss: 631.9424
Epoch [46/50], Step [1/119], Loss: 568.9473
Epoch [46/50], Step [51/119], Loss: 749.1361
Epoch [46/50], Step [101/119], Loss: 616.6927
Epoch [47/50], Step [1/119], Loss: 611.8932
Epoch [47/50], Step [51/119], Loss: 642.1841
Epoch [47/50], Step [101/119], Loss: 713.2573
Epoch [48/50], Step [1/119], Loss: 646.8547
Epoch [48/50], Step [51/119], Loss: 720.9956
Epoch [48/50], Step [101/119], Loss: 698.1926
Epoch [49/50], Step [1/119], Loss: 669.2870
Epoch [49/50], Step [51/119], Loss: 663.4589
Epoch [49/50], Step [101/119], Loss: 570.3214
Epoch [50/50], Step [1/119], Loss: 647.8792
Epoch [50/50], Step [51/119], Loss: 677.1185
Epoch [50/50], Step [101/119], Loss: 693.8719

# 测试

In [34]:
df_test = pd.read_csv(test_file,sep=' ' )

In [21]:
df_test.notRepairedDamage.replace('-', np.NaN,inplace=True) 
df_test.notRepairedDamage = df_test.notRepairedDamage.astype(float)

In [23]:
from sklearn.impute import SimpleImputer

In [24]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
df_test = imp.fit_transform(df_test)

In [25]:
df_test = min_max_scaler.transform(df_test)

In [26]:
predicted = model(torch.from_numpy(df_test).float())
predicted_label = predicted.argmax(dim=1).detach().numpy()
print(predicted_label)

[    0     0     0 ... 37500 37500 37500]

In [27]:
out = predicted.detach().numpy()

In [29]:
out.reshape(-1).shape

(50000,)

In [35]:
result = pd.DataFrame({'SaleID': df_test['SaleID'], 'price': out.reshape(-1)})
result.to_csv('./ft.csv', index=False)